* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    /* Full height of the viewport */
    margin: 0;
    /* Remove default margin */
    display: flex;
    flex-direction: column;
    /* Arrange content in a column */
}

.container {
    flex-grow: 1;
    /* Ensures content expands to fill available space */
}



footer {
    margin-top: auto;
    /* Pushes the footer to the bottom of the page */
}

#logo {
    height: 60px;
    width: auto;
    transition: transform 0.3s;
}

#logo:hover {
    transform: scale(1.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev-icon .blk,
.carousel-control-next-icon .blk {
    background-color: black;
    border-radius: 50%;
}

.carousel-control-prev .blk,
.carousel-control-next .blk {
    filter: invert(100%);
}

.h-80vh {
    height: 80vh;
    object-fit: cover;
}